@import '../../styles/constant/index';

.header {
  background: url('../../assets/img/header-bg.png') center;
  position: relative;
  margin-bottom: 30px;
  background-size: 100%;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $header-before-background;
  }
  &__container {
    position: relative;
    width: 1250px;
    max-width: 100%;
    padding: 50px 21px;
    margin: 0 auto;
  }
  &__title {
    font: 700 36px $font-family;
    color: $header-title-color;
    margin-bottom: 2.375rem;
  }
  &__desc {
    font: 600 1.5rem $font-family;
    margin-bottom: 1.5rem;
    color: $header-desc-color;
  }
  &__img {
    position: absolute;
    right: 21px;
    bottom: 0;
    img {
      width: 100%
    }
  }
  &__btn {
    background: $button-background;
    font: 700 1.125rem $font-family;
    color: $button-color;
    text-transform: uppercase;
    display: inline-block;
    padding: 17px 120px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  &--maxwidth {
    max-width: 100%;
    width: 510px;
  }
  @media (max-width: 850px) {
    .header {
      &__title {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
      &__desc {
        font-size: 1rem;
      }
      &__btn {
        padding: 13px 80px;
      }
      &--maxwidth {
        width: 400px;
      }
      &__img {
        width: 200px;
      }
    }
  }
  @media (max-width: 660px) {
    .header {
      &--maxwidth {
        width: 300px;
      }
    }
  }
  @media (max-width: 600px) {
    .header {
      &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 28px 10px;
      }
      &__img {
        position: relative;
        width: 171px;
        max-width: 100%;
      }
      &--maxwidth {
        width: 100%;
        text-align: center;
      }
      &__title {
        margin-bottom: 5px;
      }
      &__desc {
        margin-bottom: 5px;
      }
      &__btn {
        width: 100%;
      }
    }
  }
}