// App main colors
$primary-color: #00637b;
$body-background: #c7c7c7;

//header
$header-title-color: #121212;
$header-desc-color: #070707;
$header-before-background: rgba(0,0,0,.13);

//button
$button-background: #376fe1;
$button-color: #FFF;

//movie-box
$movie-box-background: #FFF;
$movie-box-title-color: #636363;
$movie-box-point-color: #ec561b;
$movie-box-p-color: #636363;
